/* Testing */
.customButton {
    background-image: linear-gradient(to right, #810087, #FF3FE5);
    color: white;
    font-weight: 600;
    font-size: 1rem;
    padding: 0.5em 1em;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
  }
  
  .customButton:hover {
    background-color: #FFFFFF;
  }
  